.item {
}
.thumb {
  overflow: hidden;

  &:hover > .image {
    transform: scale(1.1);
  }
  &:hover > .alpha {
    display: flex;
  }
}
.image {
  width: 100%;
  border-radius: 4px;
  max-height: 8rem;
  transition: transform 1s ease-in-out;
}
.alpha {
  display: none;
}
.title {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 500;
}
// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .image {
    max-height: 12rem;
  }
}
