$color-white: #fff;
$color-gray: #a2a2a2;
$color-black: #333;
$dark-alpha-10: rgba(0, 0, 0, 0.1);
$dark-alpha-50: rgba(0, 0, 0, 0.5);
$dark-alpha-70: rgba(0, 0, 0, 0.7);
$dark-alpha-80: rgba(0, 0, 0, 0.8);
$white-alpha: hsla(0, 0%, 100%, 0.1);
$hover-tooltip-opacity: hsla(0, 0%, 100%, 0.3);
$color-chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
// xone
$xone-layout: #1e1e1e;
$xone-sidebar: hsla(0, 0%, 100%, 0.05);
$xone-footer: #181818;
$xone-text-primary: #fff;
$xone-text-secondary: #a0a0a0;
$xone-text-btn: #ffffff;
$xone-item-hover: hsla(0, 0%, 100%, 0.1);
$xone-action: #ffffff;
$xone-action-active: #d7cb1f;
$xone-primary-bg: #282828;
$xone-alpha-bg: hsla(0, 0%, 100%, 0.1);
$xone-icon: #c1c1c1;
$xone-player: #5d5d5d;
$xone-border: hsla(0, 0%, 100%, 0.05);
$xone-track: #d7cb1f;
$xone-text-hover: #fff;
$xone-tippy: #282828;
$xone-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// london
$london-layout: #082050;
$london-sidebar: hsla(0, 0%, 100%, 0.05);
$london-footer: #061840;
$london-text-primary: #fff;
$london-text-secondary: #dadada;
$london-text-btn: #ffffff;
$london-item-hover: hsla(0, 0%, 100%, 0.1);
$london-action: #ffffff;
$london-action-active: #3c71f5;
$london-primary-bg: #192f60;
$london-alpha-bg: #505d79;
$london-icon: #d8d8d8;
$london-player: #5d5d5d;
$london-border: hsla(0, 0%, 100%, 0.1);
$london-track: #ffffff;
$london-text-hover: #fff;
$london-tippy: #192f60;
$london-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// zing
$zing-layout: #3a295d;
$zing-sidebar: hsla(0, 0%, 100%, 0.05);
$zing-footer: #32214e;
$zing-text-primary: #fff;
$zing-text-secondary: #dadada;
$zing-text-btn: #ffffff;
$zing-item-hover: #564175;
$zing-action: #ffffff;
$zing-action-active: #ef5c91;
$zing-primary-bg: #6e53af;
$zing-alpha-bg: #795f8d;
$zing-icon: #d2d0d3;
$zing-player: #5d5d5d;
$zing-border: #564175;
$zing-track: #ffffff;
$zing-text-hover: #fff;
$zing-tippy: #4b1178;
$zing-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// eiffel
$eiffel-layout: #282828;
$eiffel-sidebar: hsla(0, 0%, 100%, 0.05);
$eiffel-footer: #202020;
$eiffel-text-primary: #fff;
$eiffel-text-secondary: #a0a0a0;
$eiffel-text-btn: #ffffff;
$eiffel-item-hover: #505050;
$eiffel-action: #ffffff;
$eiffel-action-active: #774ea1;
$eiffel-primary-bg: #3d3d3d;
$eiffel-alpha-bg: hsla(0, 0%, 100%, 0.1);
$eiffel-icon: #d1d1d1;
$eiffel-player: #5d5d5d;
$eiffel-border: hsla(0, 0%, 100%, 0.05);
$eiffel-track: #ffffff;
$eiffel-text-hover: #fff;
$eiffel-tippy: #3d3d3d;
$eiffel-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// jack
$jack-layout: #767269;
$jack-sidebar: hsla(0, 0%, 100%, 0.05);
$jack-footer: #5e5b54;
$jack-text-primary: #fff;
$jack-text-secondary: #dadada;
$jack-text-btn: #ffffff;
$jack-item-hover: hsla(0, 0%, 100%, 0.1);
$jack-action: #ffffff;
$jack-action-active: #ac8e77;
$jack-primary-bg: #565147;
$jack-alpha-bg: hsla(0, 0%, 100%, 0.1);
$jack-icon: #d4d4d3;
$jack-player: #8e8c87;
$jack-border: hsla(0, 0%, 100%, 0.05);
$jack-track: #ffffff;
$jack-text-hover: #fff;
$jack-tippy: #565147;
$jack-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// iu
$iu-layout: #e7dfdd;
$iu-sidebar: hsla(0, 0%, 100%, 0.05);
$iu-footer: #d0ccc5;
$iu-text-primary: #32323d;
$iu-text-secondary: #798283;
$iu-text-btn: #ffffff;
$iu-item-hover: rgba(0, 0, 0, 0.05);
$iu-action: #ffffff;
$iu-action-active: #409abc;
$iu-primary-bg: #ffff;
$iu-alpha-bg: rgba(0, 0, 0, 0.05);
$iu-icon: #5b6066;
$iu-player: #5d5d5d;
$iu-border: #dbd6d3;
$iu-track: #409abc;
$iu-text-hover: #409abc;
$iu-tippy: #ffff;
$iu-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// jiChangWood
$jiChangWood-layout: #b2d8db;
$jiChangWood-sidebar: hsla(0, 0%, 100%, 0.3);
$jiChangWood-footer: #b4d0d0;
$jiChangWood-text-primary: #333;
$jiChangWood-text-secondary: #798283;
$jiChangWood-text-btn: #ffffff;
$jiChangWood-item-hover: hsla(0, 0%, 100%, 0.3);
$jiChangWood-action: #333;
$jiChangWood-action-active: #389292;
$jiChangWood-primary-bg: #e1e8e8;
$jiChangWood-alpha-bg: hsla(0, 0%, 100%, 0.3);
$jiChangWood-icon: #4f575e;
$jiChangWood-player: #a2bbbb;
$jiChangWood-border: #a9cdd0;
$jiChangWood-track: #389292;
$jiChangWood-text-hover: #389292;
$jiChangWood-tippy: #e1e8e8;
$jiChangWood-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// lisa
$lisa-layout: #f9dbdb;
$lisa-sidebar: hsla(0, 0%, 100%, 0.05);
$lisa-footer: #f8c6c5;
$lisa-text-primary: #333;
$lisa-text-secondary: #696969;
$lisa-text-btn: #ffffff;
$lisa-item-hover: rgba(0, 0, 0, 0.05);
$lisa-action: #ffffff;
$lisa-action-active: #ea7aa0;
$lisa-primary-bg: #fef8f8;
$lisa-alpha-bg: rgba(0, 0, 0, 0.05);
$lisa-icon: #495057;
$lisa-player: #5d5d5d;
$lisa-border: #d9c6c2;
$lisa-track: #ea7aa0;
$lisa-text-hover: #ea7aa0;
$lisa-tippy: #fef8f8;
$lisa-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// jennieKim
$jennieKim-layout: #bab8c3;
$jennieKim-sidebar: rgba(0, 0, 0, 0.05);
$jennieKim-footer: #c6c4d1;
$jennieKim-text-primary: #333;
$jennieKim-text-secondary: #696969;
$jennieKim-text-btn: #ffffff;
$jennieKim-item-hover: rgba(0, 0, 0, 0.05);
$jennieKim-action: #333;
$jennieKim-action-active: #346875;
$jennieKim-primary-bg: #e2e7f5;
$jennieKim-alpha-bg: #b1afb9;
$jennieKim-icon: #495057;
$jennieKim-player: #5d5d5d;
$jennieKim-border: hsla(0, 0%, 100%, 0.05);
$jennieKim-track: #346875;
$jennieKim-text-hover: #346875;
$jennieKim-tippy: #e2e7f5;
$jennieKim-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// jisoo
$jisoo-layout: #fff;
$jisoo-sidebar: rgba(0, 0, 0, 0.05);
$jisoo-footer: #fff;
$jisoo-text-primary: #333;
$jisoo-text-secondary: rgba(0, 0, 0, 0.6);
$jisoo-text-btn: #ffffff;
$jisoo-item-hover: rgba(0, 0, 0, 0.05);
$jisoo-action: #ffffff;
$jisoo-action-active: #774ea1;
$jisoo-primary-bg: #fff;
$jisoo-alpha-bg: #f2f2f2;
$jisoo-icon: #d1d1d1;
$jisoo-player: #5d5d5d;
$jisoo-border: #f2f2f2;
$jisoo-track: #6d3f83;
$jisoo-text-hover: #6d3f83;
$jisoo-tippy: #fff;
$jisoo-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// rose
$rose-layout: #082050;
$rose-sidebar: hsla(0, 0%, 100%, 0.05);
$rose-footer: #061840;
$rose-text-primary: #fff;
$rose-text-secondary: hsla(0, 0%, 100%, 0.5);
$rose-text-btn: #ffffff;
$rose-item-hover: hsla(0, 0%, 100%, 0.1);
$rose-action: #ffffff;
$rose-action-active: #3c71f5;
$rose-primary-bg: #192f60;
$rose-alpha-bg: hsla(0, 0%, 100%, 0.05);
$rose-icon: #d8d8d8;
$rose-player: #505d7a;
$rose-border: hsla(0, 0%, 100%, 0.05);
$rose-track: #ffffff;
$rose-text-hover: #fff;
$rose-tippy: #192f60;
$rose-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// dark
$dark-layout: #1e1e1e;
$dark-sidebar: #292929;
$dark-footer: #181818;
$dark-text-primary: #fff;
$dark-text-secondary: #a0a0a0;
$dark-text-btn: #fff;
$dark-item-hover: #404040;
$dark-action: #ffffff;
$dark-action-active: #774ea1;
$dark-primary-bg: #282828;
$dark-alpha-bg: hsla(0, 0%, 100%, 0.1);
$dark-icon: #c1c1c1;
$dark-player: #5d5d5d;
$dark-border: hsla(0, 0%, 100%, 0.05);
$dark-track: #fff;
$dark-text-hover: #fff;
$dark-tippy: #282828;
$dark-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// purple
$purple-layout: #170f23;
$purple-sidebar: #231b2e;
$purple-footer: #120c1c;
$purple-text-primary: #fff;
$purple-text-secondary: hsla(0, 0%, 100%, 0.5);
$purple-text-btn: #fff;
$purple-text-hover: #fff;
$purple-item-hover: #393243;
$purple-action: #ffffff;
$purple-action-active: #774ea1;
$purple-primary-bg: #453575;
$purple-alpha-bg: hsla(0, 0%, 100%, 0.1);
$purple-icon: #b7b6ba;
$purple-player: #595560;
$purple-border: hsla(0, 0%, 100%, 0.05);
$purple-track: #fff;
$purple-text-hover: #fff;
$purple-tippy: #4b1178;
$purple-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// blue-bold
$blue-bold-layout: #101f3f;
$blue-bold-sidebar: #1c2a49;
$blue-bold-footer: #0d1932;
$blue-bold-text-primary: #fff;
$blue-bold-text-secondary: #fff;
$blue-bold-text-btn: #fff;
$blue-bold-item-hover: #33405c;
$blue-bold-action: #ffffff;
$blue-bold-action-active: #3c71f5;
$blue-bold-primary-bg: #192f60;
$blue-bold-alpha-bg: hsla(0, 0%, 100%, 0.1);
$blue-bold-icon: #c1c1c1;
$blue-bold-player: #565e70;
$blue-bold-border: hsla(0, 0%, 100%, 0.05);
$blue-bold-track: #fff;
$blue-bold-text-hover: #fff;
$blue-bold-tippy: #192f60;
$blue-bold-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// blue
$blue-layout: #1d375a;
$blue-sidebar: #294162;
$blue-footer: #172c48;
$blue-text-primary: #fff;
$blue-text-secondary: #dadada;
$blue-text-btn: #fff;
$blue-item-hover: #3f5472;
$blue-action: #fff;
$blue-action-active: #3c71f5;
$blue-primary-bg: #284a78;
$blue-alpha-bg: hsla(0, 0%, 100%, 0.1);
$blue-icon: #d0d1d3;
$blue-player: #5d6b7f;
$blue-border: hsla(0, 0%, 100%, 0.05);
$blue-track: #fff;
$blue-text-hover: #fff;
$blue-tippy: #284a78;
$blue-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// green
$green-layout: #1b4534;
$green-sidebar: hsla(0, 0%, 100%, 0.05);
$green-footer: #14372a;
$green-text-primary: #fff;
$green-text-secondary: #d8d9d8;
$green-text-btn: #fff;
$green-item-hover: hsla(0, 0%, 100%, 0.1);
$green-action: #ffffff;
$green-action-active: #3f9785;
$green-primary-bg: #2f6e55;
$green-alpha-bg: #2c5749;
$green-icon: #cfd2d1;
$green-player: #57736a;
$green-border: hsla(0, 0%, 100%, 0.05);
$green-track: #fff;
$green-text-hover: #fff;
$green-tippy: #2f6e55;
$green-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// brown
$brown-layout: #57403b;
$brown-sidebar: #5f4a45;
$brown-footer: #46332f;
$brown-text-primary: #fff;
$brown-text-secondary: #dadada;
$brown-text-btn: #fff;
$brown-item-hover: #715d58;
$brown-action: #ffffff;
$brown-action-active: #986d5c;
$brown-primary-bg: #6f514c;
$brown-alpha-bg: hsla(0, 0%, 100%, 0.1);
$brown-icon: #c7c4c3;
$brown-player: #7e716e;
$brown-border: hsla(0, 0%, 100%, 0.05);
$brown-track: #fff;
$brown-text-hover: #fff;
$brown-tippy: #6f514c;
$brown-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// pink
$pink-layout: #833664;
$pink-sidebar: #883c6c;
$pink-footer: #682a50;
$pink-text-primary: #fff;
$pink-text-secondary: #dad8d9;
$pink-text-btn: #fff;
$pink-item-hover: #934a7a;
$pink-action: #ffffff;
$pink-action-active: #db63b0;
$pink-primary-bg: #a44987;
$pink-alpha-bg: hsla(0, 0%, 100%, 0.1);
$pink-icon: #d1cbd0;
$pink-player: #944d84;
$pink-border: hsla(0, 0%, 100%, 0.05);
$pink-track: #fff;
$pink-text-hover: #fff;
$pink-tippy: #fde8e8;
$pink-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// red
$red-layout: #731e17;
$red-sidebar: #7a2520;
$red-footer: #5c1612;
$red-text-primary: #fff;
$red-text-secondary: #dadada;
$red-text-btn: #fff;
$red-item-hover: #873634;
$red-action: #ffffff;
$red-action-active: #aa3020;
$red-primary-bg: #883236;
$red-alpha-bg: hsla(0, 0%, 100%, 0.1);
$red-icon: #d6d4d4;
$red-player: #8d5a5a;
$red-border: hsla(0, 0%, 100%, 0.05);
$red-track: #fff;
$red-text-hover: #fff;
$red-tippy: #883236;
$red-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// light
$light-layout: #ffffff;
$light-sidebar: #f2f2f2;
$light-footer: #fff;
$light-text-primary: #333;
$light-text-secondary: #32323d;
$light-text-btn: #fff;
$light-item-hover: #cfcfcf;
$light-action: #32323d;
$light-action-active: #6d3f83;
$light-primary-bg: #fff;
$light-alpha-bg: rgba(0, 0, 0, 0.05);
$light-icon: #8e9297;
$light-player: #e5e5e5;
$light-border: #f2f2f2;
$light-track: #6d3f83;
$light-text-hover: #6d3f83;
$light-tippy: #fff;
$light-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// gray-light
$gray-light-layout: #e5e3df;
$gray-light-sidebar: #d9d7d4;
$gray-light-footer: #d0ccc5;
$gray-light-text-primary: #333;
$gray-light-text-secondary: #32323d;
$gray-light-text-btn: #fff;
$gray-light-item-hover: #cfcdc9;
$gray-light-action: #32323d;
$gray-light-action-active: #8c8471;
$gray-light-primary-bg: #fffffe;
$gray-light-alpha-bg: rgba(0, 0, 0, 0.05);
$gray-light-icon: #4c525a;
$gray-light-player: #bbb8b1;
$gray-light-border: hsla(0, 0%, 100%, 0.05);
$gray-light-track: #8c8471;
$gray-light-text-hover: #8c8471;
$gray-light-tippy: #fffffe;
$gray-light-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// blue-light
$blue-light-layout: #ced9d9;
$blue-light-sidebar: hsla(0, 0%, 100%, 0.3);
$blue-light-footer: #b4d0d0;
$blue-light-text-primary: #333;
$blue-light-text-secondary: #656870;
$blue-light-text-btn: #fff;
$blue-light-item-hover: hsla(0, 0%, 100%, 0.3);
$blue-light-action: #32323d;
$blue-light-action-active: #389292;
$blue-light-primary-bg: #e1e8e8;
$blue-light-alpha-bg: rgba(0, 0, 0, 0.05);
$blue-light-icon: #4f575e;
$blue-light-player: #a2bbbb;
$blue-light-border: hsla(0, 0%, 100%, 0.05);
$blue-light-track: #fff;
$blue-light-text-hover: #389292;
$blue-light-tippy: #e1e8e8;
$blue-light-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
// pink-light
$pink-light-layout: #f9dbdb;
$pink-light-sidebar: hsla(0, 0%, 100%, 0.3);
$pink-light-footer: #f8c6c5;
$pink-light-text-primary: #333;
$pink-light-text-secondary: #323242;
$pink-light-text-btn: #fff;
$pink-light-item-hover: #ecd1d1;
$pink-light-action: #32323d;
$pink-light-action-active: #ea7aa0;
$pink-light-primary-bg: #fef8f8;
$pink-light-alpha-bg: rgba(0, 0, 0, 0.05);
$pink-light-icon: #50565c;
$pink-light-player: #e0b2b1;
$pink-light-border: #edd0d0;
$pink-light-track: #ea7aa0;
$pink-light-text-hover: #ea7aa0;
$pink-light-tippy: #fef8f8;
$pink-light-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
