$height-header: 7rem;
$height-footer: 9rem;
$height-sidebar-mobile: 6.1rem;
$height-player-mobile: 5rem;
$height-btn-add-play-list: 5.2rem;
$width-sidebar: 24rem;
$width-sidebar-tablet: 7rem;
$width-playlist: 33rem;
$padding-container: 5.9rem;
