$zIndex-modal: 100;
$zIndex-player: 30;
$zIndex-modal-playlist: 25;
$zIndex-header: 20;
$zIndex-sidebar: 15;
$zIndex-media-preview: 10;
$zIndex-input: 8;
$zIndex-icon: 7;
$zIndex-image-host: 6;
$zIndex-bg-alpha: 5;
$zIndex-banner-current: 4;
$zIndex-banner-block: 2;
$zIndex-info: 2;
$zIndex-after: 1;
$zIndex-before: 1;
$zIndex-bg-alpha-page: 0;
