.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .cardTop,
  .image,
  .imageHost {
    border-radius: 50%;
  }
  .link {
    padding: 1.2rem;
  }
  .cardTop,
  .imageHost {
    border: 1px solid var(--color-text-primary);
  }
  .cardTop {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    min-height: 12rem;
    &:hover > .image {
      transform: scale(1.05);
    }
    &:hover > .alpha {
      display: flex;
    }
  }
  .image {
    width: 100%;
    transition: all 0.3s linear;
    overflow: hidden;
  }
  .imageHost {
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 85.3%;
    transform: translate(-60%, -60%);
    z-index: var(--zIndex-bg-alpha-page);
    width: 36%;
    height: auto;
    background-color: transparent;
    min-height: 4rem;
  }
  .alpha {
    position: absolute;
    inset: 0;
    background-color: var(--dark-alpha-50);
    display: none;
    align-items: center;
    justify-content: center;
  }
  .cardContent {
    word-break: break-word;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .title,
  .subtitle {
    text-align: center;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
    & > a {
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
  .subtitle {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-top: 3px;
  }
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .cardTop {
    min-height: 15rem;
  }
}

// phone
@media (max-width: 739px) {
  .cardTop {
    min-height: 12rem;
  }
}
