.menu {
  &::before {
    content: "";
    clear: both;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-tippy);
    position: absolute;
    left: 15px;
    top: -8px;
  }
}
