.wrapper {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
}
.title {
  width: 100%;
  min-width: 5rem;
  font-weight: inherit;
}
.hoverColor {
  &:hover {
    color: var(--color-action-active);
  }
}
.hoverMove {
  overflow: hidden;
  position: relative;
  height: 2rem;

  div {
    position: absolute;
    top: 0;
    width: 200%;
    overflow: hidden;
  }
  &:hover > div {
    animation: marquee 5s linear infinite;
  }
  .title {
    width: 50%;
    float: left;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .hoverMove {
    white-space: nowrap;

    div {
      animation: marquee 5s linear infinite;
    }
    .title {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

// phone
@media (max-width: 739px) {
}
