.wrapper {
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

.item {
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.image {
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem;
  &:hover {
    filter: brightness(0.8);
  }
}

.title {
  font-size: 2.5rem;
  color: var(--color-gray);
}

.subTitle {
  font-size: 2rem;
  color: var(--color-gray);
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    text-align: center;
  }
}

// phone
@media (max-width: 739px) {
}
