.wrapper {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 7px 50px;
  font-weight: 700;

  &.active {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 999px;
    color: var(--white);
  }
}
.disable {
  opacity: 0.5;
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    padding: 7px 20px;
  }
}
// phone
@media (max-width: 739px) {
}
