.wrapper {
  margin-top: 7rem;
  margin-bottom: 13rem;
}
.banner {
  padding-top: 2rem;
  width: 100%;
}
.container {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.album {
}
// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

// phone
@media (max-width: 739px) {
}
