.wrapper {
  width: 100%;
  max-height: 45rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  -webkit-mask-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8) 10%,
    #fff 25%,
    #fff 75%,
    hsla(0, 0%, 100%, 0.8) 90%,
    hsla(0, 0%, 100%, 0)
  );
}

.paragraph {
  color: var(--color-gray);
}

.word {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin-right: 1rem;
}

.active {
  color: yellow;
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    max-height: 52rem;
    text-align: center;
  }
}

// phone
@media (max-width: 739px) {
  .wrapper {
    max-height: 82vh;
    text-align: center;
  }
}
